
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #225b60; /* Light green background */
    color: #333;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
}

header {
    background-color: #000000; /* Darker green header */
    color: white;
    padding: 20px;
    text-align: left;
    margin-bottom: 20px;
    height: 130px;
}

.header h1 {
    margin-left: 200px;
    font-size: 1em;
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 40%;
    text-align: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.text {
    width: 60%;
    padding-left: 30px;
}

.text p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.text a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
}

.footer {
    margin-top: 30px;
    text-align: left;
}

.contact p {
    font-weight: bold;
    margin-bottom: 10px;
}

.social {
    display: flex;
    gap: 10px;
}

.social-icon img {
    height: 30px; /* Adjust as needed */
}
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo, .text {
        width: 100%;
        padding: 0;
    }

    .text {
        padding-top: 20px;
    }
}