*{
    margin:0px;
    padding: 0px;
}
body {
    margin: 0;
    font-family: sans-serif;
    background-color: #000;
    color: #fff;
   
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-bottom: 1px dotted #555;
}
.por{
    display: flex;
    justify-content: flex-end;
    height: 40px;
    margin-left: 20px;
}
span{
    color:#008080;
}
.Home{
    display: flex;
    align-items: center;
    height: 80vh;
}

.image-section {
    
    display: flex;
    align-items: center;
    height: 80vh;
    flex: 1 1 300px;
    max-width: 40%; 
    padding: 20px;
    text-align: center;
}

.btn{
    background-color: #008080; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}