body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1B262C;
    color: #EEEEEE;
}
.por{
    display: flex;
    justify-content: flex-end;
    height: 80px;
    margin-left: 20px;
}
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: beige;
}

.skills-icons {
    
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    
}

.skills-icons img {
    height: 50px;
    border-radius: 20px;
    width: 50px;
}

.certification {
    display: flex;
    align-items: center;
    background-color: #0D7377;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cert-image {
    width: 200px; /* Adjust as needed */
    margin-right: 30px;
}

.cert-image img {
    max-width: 100%;
    height: auto;
}

.cert-details h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.cert-details p {
    margin-bottom: 10px;
}
.img{
    width: 30%;
}
.project-link {
    color: #007bff;
    text-decoration: none;
   
 font-weight: 500;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }S

    header h1 {
        font-size: 1.8em;
    }

    .skills-icons img {
        height: 40px;
    }

    .certification {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cert-image {
        width: 150px;
        margin: 0 0 20px 0;
    }
}